<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/common-head.ejs', {pageTitle: "Quoting Home"})%>
</head>

<body>
    <%- include('partials/overlay') %>
    <%- include('partials/navbar', {authenticated, currentPage: "home"}) %>
        <header>
            <div class="container">
                Start <span class="highlight">Quoting</span> Now!
            </div>
        </header>
            <main>
                <div class="container">
                    <% if (authenticated) { %>
                        <%- include('partials/quote-form') %>
                    <% } %>
                    <%- include('partials/quote-editing') %>
                    <div class="quotes-container">
                    </div>
                    <a href="#" class="btn load-more">Load more quotes</a>
                </div>
            </main>
            <%- include('partials/footer') %>
            <script src="js/home-page.js" type="module"></script>
</body>

</html>