<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/common-head.ejs', {pageTitle: user.first_name + " " + user.last_name })%>
</head>

<body>
    <%- include('partials/overlay') %>
    <%- include('partials/navbar', {authenticated, authorized, currentPage: "profile"}) %>
        <header>
            <div class="container">
                <% if (authorized) { %>Welcome <% } %>
                        <%= user.first_name %>
                            <%= user.last_name %><% if (authorized) { %>, <span class="logout">Logout</span>
                                    <% } %>
            </div>
        </header>
            <main>
                <div class="container">
                    <% if (authorized) { %>
                        <%- include('partials/quote-form') %>
                    <% } %>
                    <%- include('partials/quote-editing') %>
                    <div class="quotes-container">
                    </div>
                    <a href="#" class="btn load-more">Load more quotes</a>
                </div>
            </main>
            <%- include('partials/footer') %>
            <script src="/js/home-page.js" type="module"></script>
            <script src="/js/profile.js" type="module"></script>
</body>

</html>