<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/common-head.ejs', {pageTitle: "Registration"})%>
</head>
<body>
    <%- include('partials/overlay') %>
    <%- include('partials/navbar', {authenticated: false, currentPage: "register"}) %>
    <header>
        <div class="container">
            <span class="highlight">Register</span> and Start Quoting!
        </div>
    </header>
    <main>
        <div class="container">
            <%- include('partials/messages') %>
            <form action="#" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Enter here your username" >
                <div class="hints">
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Username must be between 1 and 20 characters long
                    </span>
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Username must contain only letters and numbers
                    </span>
                </div>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="Enter here your email">
                <div class="hints">
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        You cannot register with an already existing email
                    </span>
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Email must be between 10 and 50 characters long
                    </span>
                </div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter here your password" >
                <div class="hints">
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Password must be between 6 and 20 characters long
                    </span>
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Password must contain at least one uppercase letter, one lowercase letter and one number
                    </span>
                </div>
                <label for="confirm-password">Confirm password:</label>
                <input type="password" name="confirm_password" id="confirm-password" placeholder="Enter here again your password">
                <div class="hints">
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Password must be between 6 and 20 characters long
                    </span>
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Password must contain at least one uppercase letter, one lowercase letter and one number
                    </span>
                </div>
                <label for="first-name">First name:</label>
                <input type="text" name="first_name" id="first-name" placeholder="Enter here your first name">
                <div class="hints">
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Name must be between 2 and 20 characters long
                    </span>
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Name must contain only letters
                    </span>
                </div>
                <label for="last-name">Last name:</label>
                <input type="text" name="last_name" id="last-name" placeholder="Enter here your second name">
                <div class="hints">
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Name must be between 2 and 20 characters long
                    </span>
                    <span class="hint">
                        <i class="fa-solid fa-chevron-right"></i>
                        Name must contain only letters
                    </span>
                </div>
                <label for="bio">Bio:</label>
                <textarea name="bio" id="bio" placeholder="Bio must be with maximum 150 characters"></textarea>
                <div class="buttons">
                    <input type="reset" name="reset" id="reset" value="RESET"/>
                    <input type="submit" name="submit" id="submit" value="SUBMIT"/>
                </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="js/register.js" type="module"></script>
</body>
</html>